
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron">
				
<h1>Lets Eat Some Burgers!</h1>

				<p>
				Use this app to add burgers you want to try to your list. Just hit "Devour" once you have enjoyed them. Also add them back to your list when you are in the mood to have another.
				</p>
	<div class="wrapper">
  <div class="sliding-background"></div>
</div>
			</div>
			<div class="row">




				<div class="col-md-6" id="trythese">

<h2>Try these burgers</h2>

<ol>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ol>



				</div>
				<div class="col-md-6" id="enjoy">

<h2>Burgers you have enjoyed:</h2>

<dl>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</dl>


				</div>

				<div class="col-md-12" id="bottom">

<h2>Add a burger to your list</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group" id="hidden">
    <label for="devoured">devoured?</label><br>
    <input type="radio" name="devoured" value="0" checked> Devour!<br>
    <input type="radio" name="devoured" value="0"> Eaten!
  </div>

  <button type="submit">Add Burger</button>
</form><br><br>
<p id="name">Andrew J Bagwell</p>




				</div>




			</div>
		</div>
	</div>












